<div class="container">
  <div class="mt-3 row justify-content-center">
    <%= simple_form_for [ @plant, @plant_tag ] do |f| %>
      <%= f.association :tag, input_html: { class: "select2", multiple: true } %>
      <%= f.submit "Add tag", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
